{% extends 'base.html' %}
{% load static %}


{% block nav %}
<nav>
    <div class="navbar p-3">
        <div class="nav-title">
            <h3>Change my password</h3>
        </div>
    </div>
</nav>
{% endblock %}
{% block content %}
{% load crispy_forms_tags %}
<div class="container-fluid ml-5">
    <div class="row">
        <div class="col-6">
            <div class="content-section mt-5">
                <div class="title">
                    <h3>Password reset</h3>
                </div>
                <div class="para">
                    <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting
                        a new one.</p>
                </div>
                <form action="" method="POST">
                    {% csrf_token %}
                    <fieldset class="form-group">
                        {{ form|crispy }}
                    </fieldset>
                    <div class="form-group">
                        <button class="btn btn-outline-info" type="submit">Reset my password</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}