{% extends 'layout.html' %}
{% load static %}


{% block style %}
<style>
    body {
        background: #fff;
    }

    .navbar {
        background: rgb(27, 27, 27);
    }

    .navbar-brand {
        height: 70px;
        width: 70px;
    }

    .form-wrapper {
        min-height: 90vh;
    }
</style>
{% endblock %}

{% block content %}
{% load crispy_forms_tags %}
<div class="form-wrapper">
    <div class="container">
        <div class="row justify-content-center mt-5 mb-5">
            <div class="col-xl-8 col-lg-8 col-md-8 col-sm-10 col-xs-12">
                <div class="mb-3 text-center">
                    <div class="head">
                        <h4>Change your password</h4>
                    </div>
                </div>
                {% if messages %}
                {% for message in messages%}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
                {% endfor %}
                {% endif %}
                <div class="content-section border p-3">
                    <form action="" method="POST">
                        {% csrf_token %}
                        <fieldset class="form-group">
                            {{ form|crispy }}
                        </fieldset>
                        <div class="form-group text-center">
                            <button class="btn btn-outline-info" type="submit">Submit</button>
                        </div>
                    </form>
                </div>
                <div class="border p-3">
                    <small class="text-muted">Don't remember your Password? <a class="ml-2"
                            href="{% url 'password_reset' %}">Reset
                            Password</a></small><br>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}